@import "utilities.css";
:root {
  --primary: rgb(223, 79, 103);
  --dark: #161616;
  --pure: #ffffff;
  --ternery: #898989;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
header {
  /* margin-top: 9rem; */
  background: var(--dark);
  /* height: 600px;  */
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%); */
}

.text-align-center {
  text-align: center;
}

.container {
  padding: 1.2px 15px;
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
}
.hero {
  padding: 6rem 0 8rem 0;
}
header nav .left a:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}
body {
  font-family: "Poppins", sans-serif;
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

.hero .left img {
  width: 350px;
  margin: top 15rem;
}
.home {
  background-color: black;
}

.hero .right {
  color: var(--pure);
  margin-top: -4rem;
}
.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin: bottom 0.5rem;
}
.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero .right h1 span {
  color: var(--primary);
}
section {
  padding: 6rem 0;
}
section.about h1 {
  margin-top: 8rem;
  margin-bottom: 3rem;
}
section.about h1 span {
  color: var(--primary);
}
section.about h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
section.about h3 span {
  color: darkorange;
}
section.about p {
  font-family: "Lato" sans-serif;
  color: var(--ternery);
  line-height: 1.8;
  margin-bottom: 10rem;
}
section.project h1 {
  color: var(--primary);
  margin-bottom: 3rem;
  margin-top: 8rem;
}
section.project h2 {
  color: rgb(120, 35, 141);
  line-height: 1.8;
}
section.project p {
  font-family: "Lato" sans-serif;
  color: var(--ternery);
  line-height: 1.8;
  margin-bottom: 12rem;
}
.con {
  width: 100%; /* Full width */
  background-color: #ddd;
  margin-bottom: 1rem;
  border-radius: 32px;
}
.section-skills {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  color: black;
}
.section-skills h1 {
  color: var(--primary);
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.skills {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  color: black;
  border-radius: 32px;
}
.html {
  text-align: right;
  width: 90%;
  background-color: #f1a165;
}
.css {
  text-align: right;
  width: 85%;
  background-color: rgb(255, 117, 117);
}
.java {
  text-align: right;
  width: 75%;
  background-color: #7fb8af;
}
.javascript {
  text-align: right;
  width: 60%;
  background-color: rgb(247, 184, 184);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: black;
  color: var(--primary);
  /* padding: 15px 25px; */
  height: 40px;
  width: 85px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--light);
}
input[type="cancel"] {
  background-color: black;
  color: var(--primary);
  /* padding-right: 40px; */
  height: 40px;
  width: 85px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="cancel"]:hover {
  background-color: var(--primary);
  color: var(--light);
}

/* Add a background color and some padding around the form */
.conpage {
  border-radius: 5px;
  background-color: #96d0e7;
  padding: 20px;
}

.contact {
  margin-bottom: 30px;
  margin-top: 8rem;
}
.contact h1 {
  color: var(--primary);
  line-height: 2.8;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 32px;
}

.menu-sticky {
  position: fixed;
  /* background-color:; */
  width: 100%;
  height: 100px;
  z-index: 2;
  top: 0;
}
/* .left flex-1{
     padding: -1rem;
     margin-top: 2rem;
 } */
.plr-100 {
  padding: 0 100px;
}
.text-header {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

.text-item {
  font-size: 18px;
  margin-bottom: 20px;
}
